
:root{
 --clr-primary-1:#daa520;
 --clr-primary-2:#d8d1d1;
 --clr-goldrod:#daa5209d;


 --clr-gray-light-1:#f1f1f1;

 --clr-background-main:#252422;
 --clr-background-main-2:#212529;
 --clr-background-sub-1:#fffe;
//  

//  margins
--margin-sec:7rem;
}

$default-pad-top:7rem;