
.showroom{
  padding: 2rem 0;
  z-index: 10;
  border-radius: 7px;
  position: relative;
  background-color: var( --clr-background-main);
  
  @media screen and (max-width:500px) {
       box-shadow: none;
       padding: 2rem 1px;
       width: 98%;
  }


  &_container{
    padding:2rem 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 6rem;
    column-gap: 3rem;
    place-content: center;

    @include respond(tab-port) {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr) );
    }

    @media screen and (max-width:451px){
      padding:3rem 1rem;
    }

    // @include respond(phone-max) {
    //   grid-template-columns: repeat(1,1fr);

    // }
  }

  &_box{
    background-color: #fff;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    cursor: pointer;
    transition: all .3s;
    border-radius: 5px;
    // box-shadow: 0 7px 15px rgba(0,0,0,1);
    overflow: hidden;


    &:hover {
    box-shadow: 3px 7px 29px 5px rgba(0,0,0,0.75);
    transform:scale(1.03);
      perspective-origin: 200rem;

      @media screen and (max-width:451px){
        transform: none;
      }
    }
  }


  &_imgBox{
   z-index: 10;
   position: relative;
   height: 25rem;
   width: 100%;
   overflow: hidden;

   @media screen and (max-width:451px){
    height:45rem;
  }
  }

  &_img {
    overflow: hidden;
    border-radius: 5px 2px 0 0;
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    z-index: 10;
    cursor: pointer;
    transition: opacity .3s;
    backface-visibility:hidden;
    overflow: hidden;
  }

  &_mainIg{
    width: 120%;
    transition: width .3s;

    @include respond(tab-port) {
     width: 100%;
    }
  }

  &_box:hover &_imgBox &_mainIg{
    width: 100%;
  }

  &_front {
    opacity:1;
  }

  &_back {
    transform: rotateX(180deg);
    opacity: 0;
  }

   &_box:hover &_imgBox &_front{
    transform: rotateX(180deg);
   }

   &_box:hover &_imgBox &_back{
    opacity: 1;
    transform: rotate(0);
   }

  &_delivery{
    background: rgba(33, 56, 33, 0.567);
    display: inline-block;
    padding: .8rem;
    span {
      font-size: 1.8rem;
      font-weight: 900;
      text-transform: capitalize;
      color:var(--clr-primary-2)
    }
  }

  &_text{
    padding: 3px 5px;

    span {
       font-size: 1.8rem;
    }

    a {
      text-transform: capitalize;
      font-size: 1.5rem;
      color: var(--clr-background-main);
    }

    h2{
      font-size: 1.6rem;
      margin-block-start: 3rem;
    }
  }
}


.store {


  &_banner {
    // display: none;
    // place-content: center;
    width: 100%;
    height: 50rem;
  }

  &_heading {
    display: grid;
    place-content: center;
    text-align: center;
    padding: 2rem 0;
    margin: 1rem 0;

    @media screen and (max-width:589px) {
      display: block;
      text-align: left;
      
    }

    span {
      font-size: 1.8rem;
      color:#b4acac;
    }

    h1{
      text-transform: uppercase;
      font-size: 6rem;

      @media screen and (max-width:400px) {
         font-size: 4.6rem;
       }
    }

    p {
      font-size: 1.8rem;
      color: #b4acac;
    }

    .btn {
      display: grid;
      place-content: center;
      font-size: 1.8rem;
      width: 6rem;
      margin: 2rem auto;
      background: #b4acac;
      padding: 1rem 4rem;
      border-radius: 23px;
      color:#000;
      transition:  .3s;

      @media screen and (max-width:589px) {
        margin: 2rem 0;
      }

      &:hover {
       color:#b4acac;
       background: #000;
      }
    }
  }

  &_wrapper {
    margin-block-start: 5rem;
    padding: 3rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    gap: 3rem;

    @media screen and (max-width:589px) {
      grid-template-columns: repeat(1,1fr);
    }
  }

  &_prod {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2rem;
  }
  
  &_img {
    flex: 0 0 50%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    // padding: 2px;
    background: #fbf4f4;
   

    img {
      transform: scale(0.9);
      // border-radius: 6px !important;
    }

    &:hover img {
      transform: scale(1);
    }




    @media screen and (max-width:589px) {
      flex: 0 0 30%;
    }

     @media screen and (max-width:375px) {
      flex: 0 0 28%;
     }

    img {
      // border-radius: 5px !important;
      transition: all .2s;
    }

  }

  &_prod-info {

    h1 {
      font-size: 2.8rem;
      text-transform: capitalize;
      color: #b4acac;
    }
    
    p {
      color: #6d6d6dca;
      font-size: 1.8rem;

      &::first-letter {
        text-transform: capitalize;
      }
    }
  }
}






[data-reveal="down"]{
opacity: 0;
transform: translateY(50%);
transition: 1.3s linear;

}

[data-reveal="down"].revealed {
  opacity: 1;
 transform: translate(0);
 transform-origin: left;
 }



